body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("http://cdn.eso.org/images/screen/eso1132e.jpg");
  color: white;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

img { 
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 25px;
}
img:hover {
  cursor: pointer;
  border: solid white 3px;
  border-radius: 25px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}